<div *ngIf="arbeiter$ | async as arbeiter" class="container">
    <h4>Arbeitszeit von {{arbeiter.name}} hinzufügen - Aktuelle Stunden: {{arbeiter.stunden}}</h4>
    <form [formGroup]="anmeldeForm" (submit)="submit()">
      <div class="form-group-flex">
        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Stunden" formControlName="stunden">
        </mat-form-field>
        <div>
          <button mat-flat-button type="submit">Arbeitszeit eintragen</button>
        </div>
      </div>
    </form>
  </div>
  