<div *ngIf="account$ | async as account">
  {{account.benutzername}}

  <div *ngIf="arbeiter$ | async as arbeiter">
    <h4>Arbeiter</h4>
    <div *ngFor="let arbeit of arbeiter">
      <div class="arbeiter">
        <div class="arbeiter-card" (click)="goToArbeiter(arbeit.id)">
          <div class="arbeiter-card-item">
            Name: {{arbeit.name}}
          </div>
          <div class="arbeiter-card-item">
            Stunden: {{arbeit.stunden}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>